---
layout: default
---

<div class="home">

  {{ content }}
  
  <ul class="post-list">
    {% for post in site.posts limit:10 %}
      <li>
        <div class="blog-post">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% if post.content contains '<!--break-->' %}
        <div class="preview">
        {% if post.image %}
        <div class="preview-with-img">
        {% else %}
        <div class="post-content">
        {% endif %}
            {{ post.content | split:'<!--break-->' | first }}
            <a href="{{ post.url }}">Read more</a>
        </div>
        {% if post.image %}
        <a class="preview-img" href="{{ post.url | relative_url }}"><img src="{{ post.image }}"></a>
        {% endif %}

        </div>
        </div>
        {% endif %}

      </li>
    {% endfor %}
  </ul>

  <!---
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    --->


</div>
